::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: rgb(0,0,0);
}
::-webkit-scrollbar-thumb {
  background: rgb(50,50,50);
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(30,30,30);
  cursor: pointer;
}

body {
  overflow-x: hidden;
  color:#fff;
  background-color: #000;
}
img {
  filter: invert();
}
a,
a:active{
  text-decoration: none;
}
legend{
  font-size: 14px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.section{
  font-size: 18px;
  padding: 2% 8% 4% 8%;
  overflow-x: hidden;
}
.content{
  padding-top: 75px;
  overflow-x: hidden;
}
.center{
  text-align: center;
}
.header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.headerr {
  margin-bottom: 30px;
}
.icon-load{
  -webkit-animation:spin 1s linear infinite;
  -moz-animation:spin 1s linear infinite;
  animation:spin 1s linear infinite;
}
.link {
  color: #61dafb;
}
.align-left{
  text-align: left !important;
}
.align-right{
  text-align: right !important;
}
.logo{
  height: 50px;
  margin: 10px;
}
.btn-dark{
  background-color: black;
}
.footer{
  margin: auto;
  width: 30%;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 10%;
}
.footer img{
  margin: 0 !important;
}
.footer .qrCode{
  height: 150px;
}
.error{
  color: #d50000;
  font-weight: bold;
}
/*LoginPage*/
.loginPage{
  margin: auto;
  margin-top: 5%;
  width: 30%;
  text-align: center;
}
.loginPage img{
  margin-top: 25%;
}
.loginPage input{
  margin-top: 10px;
  text-align: center;
}
.loginPage .btn{
  margin-top: 10px;
  width: 100%;
  transition: all .5s;
}
.loginPage .btn:hover{
  width: 95%;
}
/*app page*/
.home{
  padding:0 10px;
}
.home .video{
  height: 100%;
  margin-bottom: 40px;
}
.home iframe{
  width: 95%;
  height: 300px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.home .video p{
  text-align: justify;
  margin: 0 5%;
}
.home .video:hover{
  cursor: pointer;
}
.home .table .icon{
  color: #d50000;
  transition: all .5s;
}
.home .table .icon:hover,
.home .table .icon-save{
  color: #000;
  cursor: pointer;
}
.home .table input{
  box-shadow: none;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.home .app-file-content{
  width: 100%;
  height: 100%;
  overflow: scroll;
}
/*others*/
@-moz-keyframes spin { 
  100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
  100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
  100% { 
      -webkit-transform: rotate(360deg); 
      transform:rotate(360deg); 
  } 
}
/*mobile*/
@media only screen and (max-width: 800px) {
  .graters{
    display: none;
  }
  .section2-tbl{
      display: none;
  }
  .events-icon{  
    width: 30% !important;
  }
  legend{
    font-size: 12px;
  }
  /*Modais*/
  .moodal-content{
    width: 90%;
    height: 70%;
    margin: 15% 5%;
  }
  /*?*/
  .jta-desc{
    margin-top: 100px;
    font-size: 18px;
  }
  .jta-desc i{
    font-size: 26px;
    font-weight: bold;
  }
}
/*graters*/
@media only screen and (min-width: 800px) {
  .mobile{
    display:none;
  }
  .section2-tbl-mobile{
      display: none;
  }
}
